
html{
    width: 1920px;
    height: 1080px;
}
.col{

    float: right;
    margin-top: -2%;
    margin-right: 3%;
}
.btn{
    display: inline;
    background-color: dimgrey;
    height: 60px;
    width: 60px;
    text-align: center;
    border: none;
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-left:  16.66%;
}
h1{
    display: inline;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    font-size: 65px;
}
a{
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    float: left;
    margin-top:  15.5%;
}
#btnwhite, #btngreen, #btnorange, #btnred{
    color: whitesmoke;
    font-size: 26px;
    font-family: 'Kanit', sans-serif;
}
.btnwhite{
    display: inline-block;
    background-color:white;
    height: 40px;
    width: 40px;
    border: none;
    font-family: 'Kanit', sans-serif;
}
.btngreen{
    display: inline-block;
    background-color:limegreen;
    height: 40px;
    width: 40px;
    border: none;
    font-family: 'Kanit', sans-serif;
}
.btnorange{
    display: inline-block;
    background-color:orange;
    height: 40px;
    width: 40px;
    border: none;
    font-family: 'Kanit', sans-serif;
}
.btnred{
    display: inline-block;
    background-color:red;
    height: 40px;
    width: 40px;
    border: none;
    font-family: 'Kanit', sans-serif;
}
body{
    font-family: 'Kanit', sans-serif;
    background-color: black;
}

.btn:hover{opacity: 0.8}
.btn2:hover{opacity: 0.8}

.enbtn{
    display: inline-block;
    background-color: limegreen;
    height: 6.5%;
    width: 6%;
    text-align: center;
    border: none;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

img{
    height: 60px;
    width: 60px;
    margin-left: 2.5%;
    margin-right: auto;
    display: inline;
    clear: both;
}
#logo{
    height: 220px;
    width: 220px;
}

*{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}

/* Full-width input fields */
input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 12px;
    position: relative;
    font-family: 'Kanit', sans-serif;

}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 9%;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);


#currentTime {
  font-size: 7em;
  text-align: center;
  font-family: 'Oswald';
  font-weight: 300;
  color: white;
  margin: 100px auto;
}
.clock{
    float: right;
    margin-top: -11.5%;
    margin-right: 5%;
}
.history{
    display: inline-block;
    border-radius: 8px;
    border-color:darkseagreen;
    background-color:darkseagreen;
    height: 40px;
    width: 140px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/*.stoptime{
    display: inline-block;
    border-radius: 8px;
    border-color:#ffcc00;
    background-color: #ffcc00;
    height: 40px;
    width: 200px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.starttime{
    display: inline-block;
    border-radius: 8px;
    border-color:#1E90FF;
    background-color: #1E90FF;
    height: 40px;
    width: 200px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}*/
.logout{
    display: inline-block;
    border-radius: 8px;
    border-color: antiquewhite;
    background-color: antiquewhite;
    height: 40px;
    width: 200px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.starttime:hover, .stoptime:hover, .history:hover, .logout:hover{
    opacity:0.8;
}

.dropbtn {
    display: inline-block;
    border-radius: 8px;
    border-color:chocolate;
    background-color:chocolate;
    height: 40px;
    width: 200px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width:170px;;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {opacity: 0.8;}

.show {display: block;}
